In [ ]:
import pandas as pd
import category_encoders as ce

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [87]:
#Загрузка, анализ данных
train = pd.read_csv('/content/drive/MyDrive/Raif/data/train.csv', low_memory=False)
test = pd.read_csv('/content/drive/MyDrive/Raif/data/test.csv', low_memory=False)

In [2]:
train.head()

          city floor     id  ...        date  realty_type  price_type
0        Пермь   NaN  COL_0  ...  2020-01-05           10           0
1       Шатура   NaN  COL_1  ...  2020-01-05           10           0
2    Ярославль   NaN  COL_2  ...  2020-01-05          110           0
3  Новокузнецк   NaN  COL_3  ...  2020-01-05          110           0
4       Москва   NaN  COL_4  ...  2020-01-05           10           0

[5 rows x 77 columns]

In [ ]:
!pip install --upgrade category_encoders

In [60]:
#Заполняем пропуски
train.reform_mean_floor_count_500 = train.reform_mean_floor_count_500.fillna(train.reform_mean_floor_count_500.median())
train.reform_mean_floor_count_1000 = train.reform_mean_floor_count_1000.fillna(train.reform_mean_floor_count_1000.median())
train.reform_mean_year_building_500 = train.reform_mean_year_building_500.fillna(train.reform_mean_year_building_500.mean())
train.reform_mean_year_building_1000 = train.reform_mean_year_building_1000.fillna(train.reform_mean_year_building_1000.mean())
train.reform_house_population_500 = train.reform_house_population_500.fillna(train.reform_house_population_500.median())
train.reform_house_population_1000 = train.reform_house_population_1000.fillna(train.reform_house_population_1000.median())
train.osm_city_nearest_population = train.osm_city_nearest_population.fillna(train.osm_city_nearest_population.mean())
train.street = train.street.fillna('missed')
#train = train.drop(['floor','id', 'region', 'osm_city_nearest_name', 'street', 'date'], 1)

test.reform_mean_floor_count_500 = test.reform_mean_floor_count_500.fillna(train.reform_mean_floor_count_500.median())
test.reform_mean_floor_count_1000 = test.reform_mean_floor_count_1000.fillna(train.reform_mean_floor_count_1000.median())
test.reform_mean_year_building_500 = test.reform_mean_year_building_500.fillna(train.reform_mean_year_building_500.mean())
test.reform_mean_year_building_1000 = test.reform_mean_year_building_1000.fillna(train.reform_mean_year_building_1000.mean())
test.reform_house_population_500 = test.reform_house_population_500.fillna(train.reform_house_population_500.median())
test.reform_house_population_1000 = test.reform_house_population_1000.fillna(train.reform_house_population_1000.median())
# test.street = test.street.fillna('missed')
#test.drop(['floor','id', 'region', 'street', 'osm_city_nearest_name', 'date'], axis=1, inplace=True)

In [6]:
train.shape

(279792, 77)

In [ ]:
train.reform_mean_year_building_1000[train.reform_mean_year_building_1000 == 1.0] = train.reform_mean_year_building_1000.mean()
train.reform_mean_year_building_500[train.reform_mean_year_building_500 == 1.0] = train.reform_mean_year_building_500.mean()

In [8]:
#Синтетическая метка по населению (5 групп)
cities = [
    'Москва', 'Санкт_петербург', 'Новосибирск', 'Екатеринбург', 'Казань',
          'Нижниий Новгород', 'Челябинск', 'Самара', 'Омск', 'Ростов-на-Дону',
          'Уфа', 'Красноярск', 'Воронеж','Пермь', 'Волгоград', 'Краснодар',
          'Саратов', 'Тюмень', 'Тольятти', 'Ижевск', 'Барнаул', 'Ульяновск',
          'Иркутск', 'Хабаровск', 'Махачкала', 'Ярославль', 'Владивосток',
          'Оренбург', 'Томск', 'Кемерово', 'Новокузнецк', 'Рязань',
          'Набережные Челны', 'Астрахань', 'Киров', 'Пенза',
          'Севастополь', 'Балашиха', 'Липецк'
         ]
cities_mos = cities[0]
citiesi_spb = cities[1]
citiesi_mill = cities[2:15]
citiesi_half_mill = cities[16:]
train.city = train.city.apply(lambda x: 4 if x in cities_mos else 3 if x in citiesi_spb else 2 if x in citiesi_mill else 1 if x in citiesi_half_mill else 0)
test.city = test.city.apply(lambda x: 4 if x in cities_mos else 3 if x in citiesi_spb else 2 if x in citiesi_mill else 1 if x in citiesi_half_mill else 0)

In [9]:
train.head()

   city floor     id        lat  ...  street        date  realty_type  price_type
0     2   NaN  COL_0  57.998207  ...  S27289  2020-01-05           10           0
1     0   NaN  COL_1  55.574284  ...  S17052  2020-01-05           10           0
2     1   NaN  COL_2  57.619140  ...  S16913  2020-01-05          110           0
3     1   NaN  COL_3  53.897083  ...  S10148  2020-01-05          110           0
4     4   NaN  COL_4  55.802590  ...   S1338  2020-01-05           10           0

[5 rows x 77 columns]

In [10]:
train.shape

(279792, 77)

In [11]:
test.head()

   city floor          id  ...        date  realty_type  price_type
0     0   1.0  COL_289284  ...  2020-09-06          100           1
1     0   1.0  COL_289305  ...  2020-09-06          110           1
2     1  -1.0  COL_289318  ...  2020-09-06           10           1
3     1   1.0  COL_289354  ...  2020-09-06          100           1
4     0   NaN  COL_289399  ...  2020-09-06           10           1

[5 rows x 76 columns]

In [13]:
test.shape

(2974, 76)

In [14]:
# Делим на train и valid
train_null = train[train['price_type'] == 0]
valid_one = train[train['price_type'] == 1]

In [15]:
valid_one.shape

(4493, 77)

In [17]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (0.26.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [19]:
y_null = pd.DataFrame(train_null['per_square_meter_price'])
y_one = pd.DataFrame(valid_one['per_square_meter_price'])

In [20]:
train_null.shape

(275299, 77)

In [21]:
train_null = train_null.drop('per_square_meter_price', 1)
valid_one = valid_one.drop('per_square_meter_price', 1)

In [22]:
train_null.shape

(275299, 76)

In [23]:
valid_one.shape

(4493, 76)

In [24]:
y_null.shape

(275299, 1)

In [25]:
y_one.shape

(4493, 1)

In [26]:
# Проверка подключенного оборудования
from tensorflow.python.client import device_lib
def get_available_gpus():
  local_device_protos = device_lib.list_local_devices()
  print(local_device_protos)
  return [x.name for x in local_device_protos if x.device_type == 'GPU']

get_available_gpus()

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 2530608324145603025
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 11345264640
locality {
  bus_id: 1
  links {
  }
}
incarnation: 17323822419570905926
physical_device_desc: "device: 0, name: Tesla K80, pci bus id: 0000:00:04.0, compute capability: 3.7"
]

['/device:GPU:0']

In [27]:
#CatBoostRegressor
from catboost import CatBoostRegressor

CatBoostRegressor
params = {'iterations': 6000,
          'task_type': 'GPU',
          'devices': '/device:GPU:0',
          'learning_rate': 0.001,
          'depth': 4,
          'l2_leaf_reg': 1,
          'eval_metric':'MAPE',
          'early_stopping_rounds': 200,
          'verbose': 200,
          'random_seed': 42}
         
cat = CatBoostRegressor(**params)

In [28]:
y_null.head()

   per_square_meter_price
0           139937.500000
1            60410.714286
2            45164.761264
3            28805.263158
4            13222.591362

In [29]:
train_null.head()

   city floor     id        lat  ...  street        date  realty_type  price_type
0     2   NaN  COL_0  57.998207  ...  S27289  2020-01-05           10           0
1     0   NaN  COL_1  55.574284  ...  S17052  2020-01-05           10           0
2     1   NaN  COL_2  57.619140  ...  S16913  2020-01-05          110           0
3     1   NaN  COL_3  53.897083  ...  S10148  2020-01-05          110           0
4     4   NaN  COL_4  55.802590  ...   S1338  2020-01-05           10           0

[5 rows x 76 columns]

In [30]:
train_null.city.values

array([2, 0, 1, ..., 1, 2, 2])

In [34]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)

In [35]:
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
import numpy as np

In [37]:
#TargetEncoder
cat_features = {'floor','id', 'region', 'street', 'osm_city_nearest_name', 'date', 'city'}

In [38]:
features = {'lat', 'lng', 'osm_amenity_points_in_0.001',
       'osm_amenity_points_in_0.005', 'osm_amenity_points_in_0.0075',
       'osm_amenity_points_in_0.01', 'osm_building_points_in_0.001',
       'osm_building_points_in_0.005', 'osm_building_points_in_0.0075',
       'osm_building_points_in_0.01', 'osm_catering_points_in_0.001',
       'osm_catering_points_in_0.005', 'osm_catering_points_in_0.0075',
       'osm_catering_points_in_0.01', 'osm_city_closest_dist',
       'osm_city_nearest_population',
       'osm_crossing_closest_dist', 'osm_crossing_points_in_0.001',
       'osm_crossing_points_in_0.005', 'osm_crossing_points_in_0.0075',
       'osm_crossing_points_in_0.01', 'osm_culture_points_in_0.001',
       'osm_culture_points_in_0.005', 'osm_culture_points_in_0.0075',
       'osm_culture_points_in_0.01', 'osm_finance_points_in_0.001',
       'osm_finance_points_in_0.005', 'osm_finance_points_in_0.0075',
       'osm_finance_points_in_0.01', 'osm_healthcare_points_in_0.005',
       'osm_healthcare_points_in_0.0075', 'osm_healthcare_points_in_0.01',
       'osm_historic_points_in_0.005', 'osm_historic_points_in_0.0075',
       'osm_historic_points_in_0.01', 'osm_hotels_points_in_0.005',
       'osm_hotels_points_in_0.0075', 'osm_hotels_points_in_0.01',
       'osm_leisure_points_in_0.005', 'osm_leisure_points_in_0.0075',
       'osm_leisure_points_in_0.01', 'osm_offices_points_in_0.001',
       'osm_offices_points_in_0.005', 'osm_offices_points_in_0.0075',
       'osm_offices_points_in_0.01', 'osm_shops_points_in_0.001',
       'osm_shops_points_in_0.005', 'osm_shops_points_in_0.0075',
       'osm_shops_points_in_0.01', 'osm_subway_closest_dist',
       'osm_train_stop_closest_dist', 'osm_train_stop_points_in_0.005',
       'osm_train_stop_points_in_0.0075', 'osm_train_stop_points_in_0.01',
       'osm_transport_stop_closest_dist', 'osm_transport_stop_points_in_0.005',
       'osm_transport_stop_points_in_0.0075',
       'osm_transport_stop_points_in_0.01',
       'reform_count_of_houses_1000', 'reform_count_of_houses_500',
       'reform_house_population_1000', 'reform_house_population_500',
       'reform_mean_floor_count_1000', 'reform_mean_floor_count_500',
       'reform_mean_year_building_1000', 'reform_mean_year_building_500',
       'region', 'total_square', 'street', 'date', 'realty_type',
       'price_type'}

In [ ]:
from category_encoders import TargetEncoder

train_null_TEncoded = TargetEncoder(cols=cat_features).fit_transform(train_null, y_null)
valid_one_TEncoded = TargetEncoder(cols=cat_features).fit_transform(valid_one, y_one)

In [44]:
# Переименовываем колонки 
for col in train_null_TEncoded[cat_features]:
    train_null_TEncoded.rename(columns={col: f'Encoded {col}'}, inplace=True)
    valid_one_TEncoded.rename(columns={col: f'Encoded {col}'}, inplace=True)

In [46]:
train_null_TEncoded

         Encoded city  Encoded floor  ...  realty_type  price_type
0        62750.370602   88372.252662  ...           10           0
1        66471.302395   88372.252662  ...           10           0
2        51439.192320   88372.252662  ...          110           0
3        51439.192320   88372.252662  ...          110           0
4       296852.620747   88372.252662  ...           10           0
...               ...            ...  ...          ...         ...
275294   62750.370602  156444.624157  ...          110           0
275295   62750.370602   88372.252662  ...          110           0
275296   51439.192320   86706.648709  ...           10           0
275297   62750.370602   88372.252662  ...          110           0
275298   62750.370602   88372.252662  ...          110           0

[275299 rows x 76 columns]

In [55]:
train_null_TEncoded.drop('Encoded id', axis=1, inplace=True)

In [47]:
valid_one_TEncoded

        Encoded city  Encoded floor  ...  realty_type  price_type
275299  61135.644015   64189.897858  ...          110           1
275300  57750.900239   64189.897858  ...           10           1
275301  61135.644015   64189.897858  ...           10           1
275302  57750.900239   64189.897858  ...           10           1
275303  77016.339494   64189.897858  ...           10           1
...              ...            ...  ...          ...         ...
279787  57750.900239   77354.879633  ...           10           1
279788  77016.339494   77354.879633  ...          110           1
279789  77016.339494   59702.086917  ...           10           1
279790  57750.900239   77354.879633  ...          110           1
279791  57750.900239   77354.879633  ...          110           1

[4493 rows x 76 columns]

In [57]:
valid_one_TEncoded.drop('Encoded id', axis=1, inplace=True)

In [58]:
# Нормализация
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_null_norm = scaler.fit_transform(train_null_TEncoded)
valid_one_norm = scaler.fit_transform(valid_one_TEncoded)

In [59]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

import numpy as np
catboost = CatBoostRegressor()

catboost_param_grid = {
    'loss_function': ['RMSE'],
    'eval_metric': ['RMSE'],
    'subsample': [0.35],
    'max_depth': [6],
    'n_estimators': [100],
    'reg_lambda': [65],
    'min_child_samples' : [20],
    'model_size_reg' : [0.1],
    'grow_policy' : ['Depthwise', 'SymmetricTree'],
    'random_strength' : [0.35],
    'bootstrap_type' : ['MVS', 'Bernoulli'],
    'bagging_temperature' : [50],
    'verbose': [1]
}

catboost_gs = GridSearchCV(
    estimator=catboost,
    param_grid=catboost_param_grid,
    scoring='neg_mean_squared_error',
    cv=5,
    verbose=4,
    n_jobs=-1,
    return_train_score=True
)

catboost_gs.fit(train_null_norm, np.log(y_null), eval_set=(valid_one_norm, np.log(y_one)))

Fitting 5 folds for each of 4 candidates, totalling 20 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/catboost/core.py", line 5261, in fit
    save_snapshot, snapshot_file, snapshot_interval, init_model, callbacks, log_cout, log_cerr)
  File "/usr/local/lib/python3.7/dist-packages/catboost/core.py", line 1989, in _fit
    callbacks=callbacks
  File "/usr/local/lib/python3.7/dist-packages/catboost/core.py", line 1913, in _prepare_train_params
    _check_train_params(params)
  File "_catboost.pyx", line 5773, in _catboost._check_train_params
  File "_catboost.pyx", line 5792, in _catboost._check_train_params
_catboost.CatBoostError: catboost/private/libs/options/bootstrap_options.cpp:44: Error: bagging temperature available for bayesian bootstrap only

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [-0.67597718 -0.70171885         nan         nan]
  category=UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the train scores are non-finite: [-0.67082759 -0.69920707         nan         nan]
  category=UserWarning,

0:	learn: 1.2161963	test: 0.5733145	best: 0.5733145 (0)	total: 253ms	remaining: 25.1s
1:	learn: 1.1968175	test: 0.5582862	best: 0.5582862 (1)	total: 444ms	remaining: 21.7s
2:	learn: 1.1778198	test: 0.5446113	best: 0.5446113 (2)	total: 654ms	remaining: 21.1s
3:	learn: 1.1597256	test: 0.5315244	best: 0.5315244 (3)	total: 861ms	remaining: 20.7s
4:	learn: 1.1423692	test: 0.5204884	best: 0.5204884 (4)	total: 1.06s	remaining: 20.1s
5:	learn: 1.1257185	test: 0.5086901	best: 0.5086901 (5)	total: 1.26s	remaining: 19.8s
6:	learn: 1.1098594	test: 0.4973726	best: 0.4973726 (6)	total: 1.46s	remaining: 19.4s
7:	learn: 1.0947050	test: 0.4864632	best: 0.4864632 (7)	total: 1.65s	remaining: 19s
8:	learn: 1.0799077	test: 0.4770302	best: 0.4770302 (8)	total: 1.85s	remaining: 18.7s
9:	learn: 1.0656895	test: 0.4689178	best: 0.4689178 (9)	total: 2.06s	remaining: 18.5s
10:	learn: 1.0522547	test: 0.4598611	best: 0.4598611 (10)	total: 2.24s	remaining: 18.1s
11:	learn: 1.0391729	test: 0.4514641	best: 0.4514641 (11)	total: 2.44s	remaining: 17.9s
12:	learn: 1.0267443	test: 0.4430802	best: 0.4430802 (12)	total: 2.63s	remaining: 17.6s
13:	learn: 1.0147039	test: 0.4367961	best: 0.4367961 (13)	total: 2.83s	remaining: 17.4s
14:	learn: 1.0032815	test: 0.4307250	best: 0.4307250 (14)	total: 3.03s	remaining: 17.1s
15:	learn: 0.9924140	test: 0.4245781	best: 0.4245781 (15)	total: 3.22s	remaining: 16.9s
16:	learn: 0.9819637	test: 0.4185441	best: 0.4185441 (16)	total: 3.41s	remaining: 16.6s
17:	learn: 0.9717989	test: 0.4131247	best: 0.4131247 (17)	total: 3.6s	remaining: 16.4s
18:	learn: 0.9620755	test: 0.4081457	best: 0.4081457 (18)	total: 3.8s	remaining: 16.2s
19:	learn: 0.9528893	test: 0.4038091	best: 0.4038091 (19)	total: 3.99s	remaining: 16s
20:	learn: 0.9439182	test: 0.3996084	best: 0.3996084 (20)	total: 4.19s	remaining: 15.8s
21:	learn: 0.9354183	test: 0.3955896	best: 0.3955896 (21)	total: 4.38s	remaining: 15.5s
22:	learn: 0.9271498	test: 0.3919838	best: 0.3919838 (22)	total: 4.58s	remaining: 15.3s
23:	learn: 0.9193691	test: 0.3885149	best: 0.3885149 (23)	total: 4.78s	remaining: 15.1s
24:	learn: 0.9120532	test: 0.3856596	best: 0.3856596 (24)	total: 4.97s	remaining: 14.9s
25:	learn: 0.9049287	test: 0.3826088	best: 0.3826088 (25)	total: 5.17s	remaining: 14.7s
26:	learn: 0.8982009	test: 0.3811227	best: 0.3811227 (26)	total: 5.36s	remaining: 14.5s
27:	learn: 0.8916666	test: 0.3791447	best: 0.3791447 (27)	total: 5.54s	remaining: 14.3s
28:	learn: 0.8853751	test: 0.3773927	best: 0.3773927 (28)	total: 5.76s	remaining: 14.1s
29:	learn: 0.8792493	test: 0.3754584	best: 0.3754584 (29)	total: 5.94s	remaining: 13.9s
30:	learn: 0.8735616	test: 0.3741467	best: 0.3741467 (30)	total: 6.14s	remaining: 13.7s
31:	learn: 0.8681017	test: 0.3729588	best: 0.3729588 (31)	total: 6.33s	remaining: 13.4s
32:	learn: 0.8628794	test: 0.3712409	best: 0.3712409 (32)	total: 6.52s	remaining: 13.2s
33:	learn: 0.8577593	test: 0.3703281	best: 0.3703281 (33)	total: 6.71s	remaining: 13s
34:	learn: 0.8530578	test: 0.3693774	best: 0.3693774 (34)	total: 6.9s	remaining: 12.8s
35:	learn: 0.8483629	test: 0.3686469	best: 0.3686469 (35)	total: 7.1s	remaining: 12.6s
36:	learn: 0.8439112	test: 0.3678518	best: 0.3678518 (36)	total: 7.29s	remaining: 12.4s
37:	learn: 0.8396583	test: 0.3678005	best: 0.3678005 (37)	total: 7.47s	remaining: 12.2s
38:	learn: 0.8357004	test: 0.3674329	best: 0.3674329 (38)	total: 7.66s	remaining: 12s
39:	learn: 0.8318242	test: 0.3668709	best: 0.3668709 (39)	total: 7.86s	remaining: 11.8s
40:	learn: 0.8280706	test: 0.3670394	best: 0.3668709 (39)	total: 8.04s	remaining: 11.6s
41:	learn: 0.8243920	test: 0.3671478	best: 0.3668709 (39)	total: 8.23s	remaining: 11.4s
42:	learn: 0.8209315	test: 0.3671063	best: 0.3668709 (39)	total: 8.42s	remaining: 11.2s
43:	learn: 0.8176506	test: 0.3673579	best: 0.3668709 (39)	total: 8.61s	remaining: 11s
44:	learn: 0.8144685	test: 0.3675545	best: 0.3668709 (39)	total: 8.8s	remaining: 10.8s
45:	learn: 0.8114707	test: 0.3680129	best: 0.3668709 (39)	total: 9s	remaining: 10.6s
46:	learn: 0.8085728	test: 0.3683944	best: 0.3668709 (39)	total: 9.18s	remaining: 10.4s
47:	learn: 0.8057590	test: 0.3689952	best: 0.3668709 (39)	total: 9.37s	remaining: 10.2s
48:	learn: 0.8032257	test: 0.3694103	best: 0.3668709 (39)	total: 9.55s	remaining: 9.94s
49:	learn: 0.8007368	test: 0.3699141	best: 0.3668709 (39)	total: 9.73s	remaining: 9.73s
50:	learn: 0.7983204	test: 0.3697831	best: 0.3668709 (39)	total: 9.93s	remaining: 9.54s
51:	learn: 0.7959178	test: 0.3702125	best: 0.3668709 (39)	total: 10.1s	remaining: 9.34s
52:	learn: 0.7935298	test: 0.3711083	best: 0.3668709 (39)	total: 10.3s	remaining: 9.14s
53:	learn: 0.7913020	test: 0.3718883	best: 0.3668709 (39)	total: 10.5s	remaining: 8.93s
54:	learn: 0.7892615	test: 0.3721177	best: 0.3668709 (39)	total: 10.7s	remaining: 8.73s
55:	learn: 0.7872572	test: 0.3724205	best: 0.3668709 (39)	total: 10.9s	remaining: 8.53s
56:	learn: 0.7853840	test: 0.3729330	best: 0.3668709 (39)	total: 11s	remaining: 8.33s
57:	learn: 0.7835996	test: 0.3730257	best: 0.3668709 (39)	total: 11.2s	remaining: 8.13s
58:	learn: 0.7818413	test: 0.3732654	best: 0.3668709 (39)	total: 11.4s	remaining: 7.93s
59:	learn: 0.7801254	test: 0.3735854	best: 0.3668709 (39)	total: 11.6s	remaining: 7.74s
60:	learn: 0.7783470	test: 0.3735505	best: 0.3668709 (39)	total: 11.8s	remaining: 7.54s
61:	learn: 0.7767309	test: 0.3737565	best: 0.3668709 (39)	total: 12s	remaining: 7.35s
62:	learn: 0.7751420	test: 0.3742822	best: 0.3668709 (39)	total: 12.2s	remaining: 7.16s
63:	learn: 0.7735875	test: 0.3748695	best: 0.3668709 (39)	total: 12.4s	remaining: 6.96s
64:	learn: 0.7720864	test: 0.3756837	best: 0.3668709 (39)	total: 12.6s	remaining: 6.77s
65:	learn: 0.7707039	test: 0.3761926	best: 0.3668709 (39)	total: 12.8s	remaining: 6.57s
66:	learn: 0.7693889	test: 0.3769076	best: 0.3668709 (39)	total: 12.9s	remaining: 6.38s
67:	learn: 0.7681532	test: 0.3778424	best: 0.3668709 (39)	total: 13.1s	remaining: 6.18s
68:	learn: 0.7669327	test: 0.3782028	best: 0.3668709 (39)	total: 13.3s	remaining: 5.98s
69:	learn: 0.7657394	test: 0.3788974	best: 0.3668709 (39)	total: 13.5s	remaining: 5.79s
70:	learn: 0.7646339	test: 0.3790111	best: 0.3668709 (39)	total: 13.7s	remaining: 5.59s
71:	learn: 0.7635662	test: 0.3797988	best: 0.3668709 (39)	total: 13.9s	remaining: 5.4s
72:	learn: 0.7624304	test: 0.3804122	best: 0.3668709 (39)	total: 14.1s	remaining: 5.21s
73:	learn: 0.7614053	test: 0.3813898	best: 0.3668709 (39)	total: 14.3s	remaining: 5.02s
74:	learn: 0.7603889	test: 0.3821580	best: 0.3668709 (39)	total: 14.5s	remaining: 4.82s
75:	learn: 0.7594443	test: 0.3830102	best: 0.3668709 (39)	total: 14.7s	remaining: 4.63s
76:	learn: 0.7584819	test: 0.3838649	best: 0.3668709 (39)	total: 14.8s	remaining: 4.43s
77:	learn: 0.7575482	test: 0.3847086	best: 0.3668709 (39)	total: 15s	remaining: 4.24s
78:	learn: 0.7566730	test: 0.3854227	best: 0.3668709 (39)	total: 15.2s	remaining: 4.04s
79:	learn: 0.7557099	test: 0.3862786	best: 0.3668709 (39)	total: 15.4s	remaining: 3.85s
80:	learn: 0.7549754	test: 0.3869916	best: 0.3668709 (39)	total: 15.6s	remaining: 3.65s
81:	learn: 0.7542091	test: 0.3877483	best: 0.3668709 (39)	total: 15.8s	remaining: 3.46s
82:	learn: 0.7534876	test: 0.3882269	best: 0.3668709 (39)	total: 16s	remaining: 3.27s
83:	learn: 0.7527061	test: 0.3890605	best: 0.3668709 (39)	total: 16.1s	remaining: 3.07s
84:	learn: 0.7519662	test: 0.3898325	best: 0.3668709 (39)	total: 16.3s	remaining: 2.88s
85:	learn: 0.7512771	test: 0.3905189	best: 0.3668709 (39)	total: 16.5s	remaining: 2.69s
86:	learn: 0.7506060	test: 0.3912545	best: 0.3668709 (39)	total: 16.7s	remaining: 2.49s
87:	learn: 0.7499342	test: 0.3918125	best: 0.3668709 (39)	total: 16.9s	remaining: 2.3s
88:	learn: 0.7493315	test: 0.3923660	best: 0.3668709 (39)	total: 17.1s	remaining: 2.11s
89:	learn: 0.7486877	test: 0.3927937	best: 0.3668709 (39)	total: 17.3s	remaining: 1.92s
90:	learn: 0.7481077	test: 0.3933095	best: 0.3668709 (39)	total: 17.4s	remaining: 1.73s
91:	learn: 0.7475597	test: 0.3935575	best: 0.3668709 (39)	total: 17.6s	remaining: 1.53s
92:	learn: 0.7470186	test: 0.3941490	best: 0.3668709 (39)	total: 17.8s	remaining: 1.34s
93:	learn: 0.7465212	test: 0.3940756	best: 0.3668709 (39)	total: 18s	remaining: 1.15s
94:	learn: 0.7459469	test: 0.3945386	best: 0.3668709 (39)	total: 18.2s	remaining: 958ms
95:	learn: 0.7454518	test: 0.3949276	best: 0.3668709 (39)	total: 18.4s	remaining: 766ms
96:	learn: 0.7449599	test: 0.3956382	best: 0.3668709 (39)	total: 18.6s	remaining: 575ms
97:	learn: 0.7445028	test: 0.3960630	best: 0.3668709 (39)	total: 18.8s	remaining: 383ms
98:	learn: 0.7440162	test: 0.3965354	best: 0.3668709 (39)	total: 18.9s	remaining: 191ms
99:	learn: 0.7435962	test: 0.3968561	best: 0.3668709 (39)	total: 19.1s	remaining: 0us

bestTest = 0.3668709037
bestIteration = 39

Shrink model to first 40 iterations.

GridSearchCV(cv=5,
             estimator=<catboost.core.CatBoostRegressor object at 0x7f249bbf1990>,
             n_jobs=-1,
             param_grid={'bagging_temperature': [50],
                         'bootstrap_type': ['MVS', 'Bernoulli'],
                         'eval_metric': ['RMSE'],
                         'grow_policy': ['Depthwise', 'SymmetricTree'],
                         'loss_function': ['RMSE'], 'max_depth': [6],
                         'min_child_samples': [20], 'model_size_reg': [0.1],
                         'n_estimators': [100], 'random_strength': [0.35],
                         'reg_lambda': [65], 'subsample': [0.35],
                         'verbose': [1]},
             return_train_score=True, scoring='neg_mean_squared_error',
             verbose=4)

In [68]:
cat_pred_grid = catboost_gs.best_estimator_.predict(valid_one_norm)

In [70]:
print('RMSE', np.sqrt(mean_squared_error(np.log(y_one), cat_pred_grid)))

RMSE 0.3668708951436803

In [78]:
y_test = pd.read_csv('/content/drive/MyDrive/Raif/data/submission_cat_pred_grid_log.csv', low_memory=False)

In [80]:
y_test.head()

           id  per_square_meter_price
0  COL_289284            47046.182617
1  COL_289305            47573.834602
2  COL_289318            45092.396053
3  COL_289354            61161.174941
4  COL_289399            63948.302541

In [82]:
y_test = y_test.drop('id', 1)

In [83]:
test_TEncoded = TargetEncoder(cols=cat_features).fit_transform(test, y_test)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [84]:
cat_pred_grid_test = catboost_gs.predict(test_TEncoded)

In [86]:
# Запись результата
submission = pd.read_csv('/content/drive/MyDrive/Raif/data/test_submission.csv')
submission['per_square_meter_price'] = np.exp(cat_pred_grid_test)
submission.to_csv('submission_cat_pred_grid_log_hot.csv', index=False)